[submodule "crates/submillisecond"]
	url = https://github.com/kali6o4/submillisecond
	path = crates/submillisecond
[submodule "crates/lunatic-log-rs"]
	url = https://github.com/kali6o4/lunatic-log-rs
